:root {
    --warna-ungu-brand: #732091;
    --warna-hitam-normal: #14042C;
    --warna-hijau-samping: #047045;
    --warna-abu-khusus: #4C4C4C;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Inter';
}

/*NAVBAR*/
li {
    list-style: none;
    font-family: 'Inter';
    color: black;
}

.nav-menu {
    font-family: 'Inter';
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}

.btn-quarter-solid {
    width: 45%;
    background-color: transparent;
    color: var(--warna-hijau-samping);
    border: 1px solid var(--warna-hijau-samping);
    height: 35px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: bold;
}

.btn-quarter-outline {
    width: 45%;
    background-color: var(--warna-hijau-samping);
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: bold;
}

.btn-quarter-solid:hover {
    background-color: var(--warna-hijau-samping);
    color: white;

}

.btn-quarter-outline:hover {
    background-color: transparent;
    color: var(--warna-hijau-samping);
    border: 2px solid var(--warna-hijau-samping);
}

.nav-menu:hover {
    color: #047045;
}

/*PROFILE*/
.small-photo {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.small-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50px;
}

.profile-name {
    text-decoration: none;
}

/*TRACK*/
.track {
    background-color: #f5f5f5;
    font-family: 'Inter';
    min-height: 500px;
}

.head-track {
    font-weight: bold;
}

.card-track {
    border-radius: 15px;
    background-color: white;
    border: solid rgba(102, 102, 102, 0.5);
    border-width: 1px;
}

.custom-size {
    font-size: 10px;
}

.card-text {
    font-family: 'Inter';
}

.id-jemput {
    font-weight: bold;
}

.kiri-card, .date {
    color: #666666;
    font-weight: 500;
}

.kanan-card {
    font-weight: 600;
}

.status-text-process {
    color: #3F34E4;
}

.status-text-done {
    color: #047045;
}

/*FOOTER*/
.foot-bold {
    font-family: 'Inter';
    font-weight: bold;
}

.foot-list {
    font-family: 'Inter';
    color: #666666;
    font-weight: bold;
}

.text-copyright {
    font-family: 'Inter';
    font-weight: bold;
    color: #666666;
    font-size: 12px;
}